<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="transaction">
            <h2><span jhiTranslate="sunuKalpeApp.transaction.detail.title">Transaction</span> {{ transaction.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="sunuKalpeApp.transaction.date">Date</span></dt>
                <dd>
                    <span>{{ transaction.date }}</span>
                </dd>
                <dt><span jhiTranslate="sunuKalpeApp.transaction.numer">Numer</span></dt>
                <dd>
                    <span>{{ transaction.numer }}</span>
                </dd>
                <dt><span jhiTranslate="sunuKalpeApp.transaction.reference">Reference</span></dt>
                <dd>
                    <span>{{ transaction.reference }}</span>
                </dd>
                <dt><span jhiTranslate="sunuKalpeApp.transaction.type">Type</span></dt>
                <dd>
                    <span>{{ transaction.type }}</span>
                </dd>
                <dt><span jhiTranslate="sunuKalpeApp.transaction.frais">Frais</span></dt>
                <dd>
                    <span>{{ transaction.frais }}</span>
                </dd>
                <dt><span jhiTranslate="sunuKalpeApp.transaction.montant">Montant</span></dt>
                <dd>
                    <span>{{ transaction.montant }}</span>
                </dd>
                <dt><span jhiTranslate="sunuKalpeApp.transaction.statut">Statut</span></dt>
                <dd>
                    <span>{{ transaction.statut }}</span>
                </dd>
                <dt><span jhiTranslate="sunuKalpeApp.transaction.compteTo">Compte To</span></dt>
                <dd>
                    <div *ngIf="transaction.compteTo">
                        <a [routerLink]="['/compte', transaction.compteTo?.id, 'view']">{{ transaction.compteTo?.id }}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="sunuKalpeApp.transaction.compteFrom">Compte From</span></dt>
                <dd>
                    <div *ngIf="transaction.compteFrom">
                        <a [routerLink]="['/compte', transaction.compteFrom?.id, 'view']">{{ transaction.compteFrom?.id }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/transaction', transaction.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
