<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-transaction-heading" jhiTranslate="sunuKalpeApp.transaction.home.createOrEditLabel">Create or edit a Transaction</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="sunuKalpeApp.transaction.date" for="field_date">Date</label>
                    <div class="input-group">
                        <input id="field_date" type="text" class="form-control" name="date" ngbDatepicker #dateDp="ngbDatepicker" formControlName="date"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="dateDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
                        </span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="sunuKalpeApp.transaction.numer" for="field_numer">Numer</label>
                    <input type="text" class="form-control" name="numer" id="field_numer"
                           formControlName="numer"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="sunuKalpeApp.transaction.reference" for="field_reference">Reference</label>
                    <input type="text" class="form-control" name="reference" id="field_reference"
                           formControlName="reference"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="sunuKalpeApp.transaction.type" for="field_type">Type</label>
                    <input type="text" class="form-control" name="type" id="field_type"
                           formControlName="type"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="sunuKalpeApp.transaction.frais" for="field_frais">Frais</label>
                    <input type="number" class="form-control" name="frais" id="field_frais"
                           formControlName="frais"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="sunuKalpeApp.transaction.montant" for="field_montant">Montant</label>
                    <input type="number" class="form-control" name="montant" id="field_montant"
                           formControlName="montant"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="sunuKalpeApp.transaction.statut" for="field_statut">Statut</label>
                    <input type="checkbox" class="form-control" name="statut" id="field_statut"
                           formControlName="statut"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="sunuKalpeApp.transaction.compteTo" for="field_compteTo">Compte To</label>
                    <select class="form-control" id="field_compteTo" name="compteTo" formControlName="compteTo">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="compteOption.id === editForm.get('compteTo')!.value?.id ? editForm.get('compteTo')!.value : compteOption" *ngFor="let compteOption of comptes; trackBy: trackById">{{ compteOption.id }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="sunuKalpeApp.transaction.compteFrom" for="field_compteFrom">Compte From</label>
                    <select class="form-control" id="field_compteFrom" name="compteFrom" formControlName="compteFrom">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="compteOption.id === editForm.get('compteFrom')!.value?.id ? editForm.get('compteFrom')!.value : compteOption" *ngFor="let compteOption of comptes; trackBy: trackById">{{ compteOption.id }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
