<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="retrait">
            <h2><span jhiTranslate="sunuKalpeApp.retrait.detail.title">Retrait</span> {{ retrait.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="sunuKalpeApp.retrait.dateRetrait">Date Retrait</span></dt>
                <dd>
                    <span>{{ retrait.dateRetrait }}</span>
                </dd>
                <dt><span jhiTranslate="sunuKalpeApp.retrait.montantRetrait">Montant Retrait</span></dt>
                <dd>
                    <span>{{ retrait.montantRetrait }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/retrait', retrait.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
